Package: dev.preloading.ebayx2
Name: EBayX²
Version: 0.0.1
Architecture: iphoneos-arm
Description: A cydia tweak that fixes the eBay app.
Maintainer: Preloading
Author: Preloading
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
